
button{
    cursor: pointer;
    background-color: var(--smoothGrenn);

    width: 30%;
    height: 25%;

    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: var(--TrueBlack);
    border-radius: 15px;

    transition: linear 0.3s;
}

button:hover{
    background-color: var(--TrueBlack);
    color: var(--smoothGrenn);
}


